.pageBtn {
    color: #aaa;
    background: white;
    margin: 0 3px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: .9rem;
    border: 0;
    cursor: pointer;
}

.pageBtn:hover, .active {
     background-color: #439169;
     color: #fff;
 }