.navbar {
    border-bottom: 1px solid #eee;
    padding: 20px;
    flex-direction: column;
    position: relative;
    background-color: #fff;
}

.logo {
    max-width: 170px;
    width: 100%;
}

.list {
    display: flex;
    align-items: center;
}

.link {
    color: #333;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}

.link:hover {
    color: #666;
}

.active {
    color: #439169;
}

@media (max-width: 991px) {
    .navbar {
        padding: 15px;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        max-width: 70px;
    }

    .icon {
        font-size: 25px;
        color: #333;
    }

    .list {
        position: absolute;
        justify-content: flex-start;
        left: -100%;
        width: 100%;
        top: 101%;
        background: #fff;
        flex-direction: column;
        transition: all 0.5s ease;
        z-index: 2;
        height: 100vh;
    }

    .link {
        margin: 15px;
    }
}